<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yiako.ykprint" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <receiver
            android:name=".bt.BTReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name = "android.bluetooth.device.action.ACL_CONNECTED"/>
                <action android:name = "android.bluetooth.device.action.ACL_DISCONNECTED"/>
            </intent-filter>

        </receiver>

        <activity android:name=".bt.BluetoothSearchActivity" />
    </application>

</manifest>
